<div class="container">

    <h1>Media Controller</h1>

    <h2>Media</h2>

    <button
      class='js__previous'>
      &lt; Previous
    </button>

    <button
      class='js__playpause'>
      Play / Pause
    </button>

    <button
      class='js__next'>
      Next &gt;
    </button>


    <h2>Volume</h2>

    <button
      class='js__volume-up'>
      Volume Up
    </button>

    <button
      class='js__volume-down'>
      Volume Down
    </button>

    <br>

    <button
      class='js__volume-mute'>
      Volume Mute
    </button>

</div>
